{% extends 'base.html' %}

{% block header %}
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="m-0">{% block title %}Home{% endblock %}</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="p-5 mb-4 bg-body-tertiary rounded-3 shadow-sm">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Welcome to Tabletop Local</h1>

      {% if g.user %}
        <p class="fs-5">Welcome, {{ g.user['username'] }}.</p>
        <a href="{{ url_for('pages.files') }}" class="btn btn-primary btn-lg">View files</a>
      {% else %}
        <p class="fs-5">Register an account or log in.</p>
        <a href="{{ url_for('auth.register') }}" class="btn btn-primary btn-lg me-2">Register</a>
        <a href="{{ url_for('auth.login') }}" class="btn btn-outline-secondary btn-lg">Log In</a>
      {% endif %}
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6 mb-4">
      <div class="h-100 p-5 text-bg-dark rounded-3 shadow">
        <h2>Our Games</h2>
        <p>Our active game servers.</p>
        <a href="{{ url_for('pages.games') }}" class="btn btn-outline-light">Browse Active Games</a>
      </div>
    </div>


  <div class="col-md-6 mb-4">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3 shadow">
        <h2>Chat & Resources</h2>
        <p>Live chat or access links to various resources.</p>
        <a href="{{ url_for('pages.chat') }}" class="btn btn-outline-secondary me-2">Go to Chat</a>
        <a href="{{ url_for('pages.resources') }}" class="btn btn-outline-secondary">See Resources</a>
      </div>
    </div>
  </div>


  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">How to Navigate</h4>
    <p class="mb-0">
      The <b>Menu</b> button at the top-left also includes links to the various pages.
    </p>
  </div>
{% endblock %}
