{% extends 'base.html' %}

{% block header %}
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="m-0">{% block title %}Resources{% endblock %}</h1>

  </div>
{% endblock %}

{% block content %}
  <div class="row">

    <div class="col-md-6">
      <h4>Rules</h4>
      <ul>
        <li><a href="https://2e.aonprd.com/">Pathfinder 2nd Edition</a></li>
        <li><a href="https://dnd5e.wikidot.com/">Dungeons and Dragons 5th Edition</a></li>
        <li><a href="https://massif-press.itch.io/corebook-pdf-free">Lancer</a></li>

      </ul>
    </div>

    <div class="col-md-6">
      <h4>Tools</h4>
      <ul>
        <li><a href="https://pathbuilder2e.com/">Pathbuilder</a></li>
        <li><a href="https://www.dungeonmastersvault.com/pages/dnd/5e/character-builder">5e Character Builder</a></li>
        <li><a href="https://compcon.app/#/">COMP/CON</a></li>
      </ul>
    </div>

  </div>
{% endblock %}