{% extends 'base.html' %}

{% block header %}
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="m-0">{% block title %}Resources{% endblock %}</h1>

  </div>
{% endblock %}

{% block content %}
    <H4>Rules</H4>
    <ul><a href="https://2e.aonprd.com/">Pathfinder 2nd Edition</a></ul>
    <ul><a href="https://dnd5e.wikidot.com/">Dungeons and Dragons 5th Edition</a></ul>
    <H4>Tools</H4>
    <ul><a href="https://pathbuilder2e.com/">Pathbuilder</a></ul>
    <ul><a href="https://www.dungeonmastersvault.com/pages/dnd/5e/character-builder">5e Character Builder</a></ul>
{% endblock %}