<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} - Tabletop Local</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-body-tertiary border-bottom mb-4">
    <div class="container">

      <button class="btn btn-outline-secondary me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarOffcanvas" aria-controls="sidebarOffcanvas">
        Menu
      </button>

      <a class="navbar-brand" href="{{ url_for('landing') }}">Tabletop Local</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {% if g.user %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ g.user['username'] }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a></li>
                </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebarOffcanvas" aria-labelledby="sidebarOffcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebarOffcanvasLabel">Navigation</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('landing') }}">Home</a>
        </li>
        {% if g.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('pages.chat') }}">Chat</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('pages.files') }}">Files</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="{{ url_for('pages.games') }}">Games</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="{{ url_for('pages.resources') }}">Resources</a>
        </li>

        {% endif %}
      </ul>
    </div>
  </div>

  <main class="container">
    <header class="border-bottom pb-3 mb-4">
      {% block header %}{% endblock %}
    </header>

    {% for message in get_flashed_messages() %}
      <div class="alert alert-info" role="alert">
        {{ message }}
      </div>
    {% endfor %}

    {% block content %}{% endblock %}
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>