{% extends 'base.html' %}

{% block header %}
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="m-0">{% block title %}Posts{% endblock %}</h1>
    {% if g.user %}
      <a class="btn btn-primary" href="{{ url_for('blog.create') }}">New Post</a>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  {% for chat in chats %}
    <article class="post card mb-4 shadow-sm">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div>
          <h2 class="card-title h5 mb-0">{{ chat['title'] }}</h2>
          <div class="card-subtitle text-body-secondary small fst-italic">
            by {{ chat['username'] }} on {{ chat['created'].strftime('%Y-%m-%d') }}
          </div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </div>

      <div class="card-body">
        <p class="body card-text">{{ chat['body'] }}</p>
      </div>
    </article>

    {% endfor %}
{% endblock %}